bin/
obj/
*.user
*.userosscache
*.sln.docstates

*.exe
*.dll
*.pdb
*.msi
*.zip

[Tt]est[Rr]esults/
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.opendb
*.db-shm
*.db-wal

packages/
!packages/build/

.DS_Store
Thumbs.db